[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/fhevm"]
	path = lib/fhevm
	url = https://github.com/zama-ai/fhevm
[submodule "lib/forge-fhevm"]
	path = lib/forge-fhevm
	url = https://github.com/zama-ai/forge-fhevm
[submodule "lib/openzeppelin-confidential-contracts"]
	path = lib/openzeppelin-confidential-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-confidential-contracts
